{{!< default}}

<div class="signin-page flex flex-cc" data-image-style="right">
  {{#if @member}}
    {{!-- Logged in: Redirect to home --}}
    <script>window.location = '{{@site.url}}';</script>
  {{else}}
    <div class="signin-page__content">
      <a href="{{@site.url}}" class="signin-page__brand">
        {{#if @site.logo}}
          {{> image
            image_type="site"
            image_class="lazyload"
            image_url=@site.logo
            size_s=true
          }}
        {{else}}
          {{@site.title}}
        {{/if}}
      </a>

      <div class="signin-page__box">
        <h1 class="signin-page__title">{{#page}}{{title}}{{else}}{{t "Sign in"}}{{/page}}</h1>
        <p id="form-input-label" class="opacity-080">{{#page}}{{excerpt}}{{else}}{{t "Sign into your account again."}}{{/page}}</p>
        {{> subscribe-form 
          form_type="signin" 
          form_class=""
          button_class="uppercase btn--brand"
          button_text=(t 'Send login link') 
        }}
        <p class="m-0 m-t text-center">
          <small>{{t "Don't have an account yet?"}}
            {{#link href="/signup/"}}{{t "Sign up"}}{{/link}}
          </small>
        </p>
      </div>
    </div>
    {{#page}}
      {{#if feature_image}}
        <figure class="signin-page__media{{#if feature_image_caption}} has-caption{{/if}}">
          <svg class="signup-page__shape"viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <path d="M49 0L45.2 20C41.3 40 33.7 80 34 120C34.3 160 42.7 200 48 240C53.3 280 55.7 320 51.3 360C47 400 36 440 31.5 480C27 520 29 560 30 580L31 600L0 600L0 580C0 560 0 520 0 480C0 440 0 400 0 360C0 320 0 280 0 240C0 200 0 160 0 120C0 80 0 40 0 20L0 0Z"
              fill="var(--color-bg)" stroke-linecap="round" stroke-linejoin="miter">
            </path>
          </svg>
          {{> image
            picture_class="h-100 w-100"
            image_type="post"
            image_class="lazyload"
            image_url=feature_image
            size_s=true
            size_m=true
            size_l=true
            size_xl=true
          }}
          {{#if feature_image_caption}}
            <figcaption>{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
      {{/if}}
    {{/page}}
  {{/if}}
</div>